//
//  Releasevf-framework.xcconfig
//  vf
//
//  Created by arman on 3/17/09.
//  Copyright 2009 Reify Corp. All rights reserved.
//

// Pull in the general settings
#include "boostXcodeConfigs/subconfig/General.xcconfig"

// Leopard or later
#include "boostXcodeConfigs/subconfig/LeopardOrLater.xcconfig"

// Debug settings
#include "boostXcodeConfigs/subconfig/Release.xcconfig"

GCC_DYNAMIC_NO_PIC = NO

GCC_TREAT_WARNINGS_AS_ERRORS = NO

// Merge settings
#include "boostXcodeConfigs/subconfig/GTMMerge.xcconfig"
