<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doxygen.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>batchconvert.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gut copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>gut.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libvf32.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libvf32_d.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>persistence1d.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>vf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>vsigmatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D07F2BC0486CC7A007CD1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C22DCCAB1314BC3100801DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24B8BDB183E62D30010E3C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C24EA7FF1842FD0D00E88B0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26B4A92130DD3770059FA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27C024918D75F2E00FD9FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C27C024E18D75F3E00FD9FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C297DD4118A1D7B400F217A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A39C160F339AD100845D59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2ADE3DD18427C5B00BDA932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2ADE5931908ACEB0083564A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2B8E992187DDC2B0060D961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2EC9B43183E692A00AC3300</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
