//
//  Config.xcconfig
//  XcVisible
//
//  Created by Arman Garakani on 4/25/14.
//
//

#include "cv_base.xcconfig"

// Strictest warning policy
WARNING_CFLAGS = -Wall -Wendif-labels -Wnewline-eof 

// Work around Xcode bugs by using external strip. See:
// http://lists.apple.com/archives/Xcode-users/2006/Feb/msg00050.html
SEPARATE_STRIP = YES


// Minimum OS version is 10.7
MACOSX_DEPLOYMENT_TARGET = 10.8

LIBRARY_SEARCH_PATHS = $(CINDER_PATH)/lib $(GTEST_PATH)/build/Release $(OPENCV_PATH)/lib
FRAMEWORK_SEARCH_PATHS = $(GTEST_PATH)/build/Release $(BUILD_DIR)/Frameworks 
HEADER_SEARCH_PATHS = $(CINDER_PATH)/include $(CINDER_PATH)/ciUI $(BOOST_PATH)/include $(OPENCV_PATH)/include $(SRCROOT)/include $(GTEST_PATH)/include $(SRCROOT)/include/vf $(SRCROOT)/include/cvisible


GCC_PREPROCESSOR_DEFINITIONS=_USE_NATIVE_ATOMIC_ RFY_DLL RFY_DLL_EXPORTS __ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0 

