//
//  Config.xcconfig
//  XcVisible
//
//  Created by Arman Garakani on 4/25/14.
//
//  PROJECT_DIR is where xcodeproj files are
//  Debug and Release differ in libs they link to




SRCROOT = $(PROJECT_DIR)/..
SOURCE_ROOT = $(SRCROOT)
USR_LOCAL = $(SRCROOT)/usr/local
BUILD_DIR = $(SRCROOT)/build
BUILD_ROOT = $(BUILD_DIR)
BUILD_SCRIPTS_DIR = $(SRCROOT)/scripts
TEMP_ROOT = $(BUILD_DIR)
SYMROOT= $(BUILD_DIR)
OBJROOT= $(BUILD_ROOT)
PROJECT_TEMP_ROOT = $(BUILD_DIR)
BUILT_PRODUCTS_DIR = $(BUILD_DIR)/$(CONFIGURATION)
TEST_DIR = $(SRCROOT)/test
RESOURCE_DIR = $(SRCROOT)/resources

// Intel, 32- and 64-bit
ARCHS = i386

// Zerolink prevents link warnings so turn it off
ZERO_LINK = NO

// Prebinding considered unhelpful in 10.3 and later
PREBINDING = NO

// Strictest warning policy
WARNING_CFLAGS =  -Wendif-labels -Wnewline-eof

// Work around Xcode bugs by using external strip. See:
// http://lists.apple.com/archives/Xcode-users/2006/Feb/msg00050.html
SEPARATE_STRIP = YES


// C++ Compiler
GCC_VERSION = com.apple.compilers.llvm.clang.1_0


// C++ Language (C++11)
CLANG_CXX_LANGUAGE_STANDARD = c++0x

// C++ Standard Library
CLANG_CXX_LIBRARY = libc++



// not sure why apple defaults this on, but it's pretty risky
ALWAYS_SEARCH_USER_PATHS = NO

// Turn on position dependent code for most cases (overridden where appropriate)
GCC_DYNAMIC_NO_PIC = NO

// Minimum OS version is 10.7
MACOSX_DEPLOYMENT_TARGET = 10.8

CINDER_VERSION_PATH = cinder_0.9
CINDER_PATH = $(USR_LOCAL)/Cinder/$(CINDER_VERSION_PATH)
BOOST_PATH = $(CINDER_PATH)/boost
OPENCV_PATH = $(USR_LOCAL)/OpenCV3
GTEST_PATH = $(USR_LOCAL)/gtest

BOOST_INCLUDE = $(BOOST_PATH)

// Strictest warning policy
WARNING_CFLAGS = -Wall -Wendif-labels -Wnewline-eof 

// Work around Xcode bugs by using external strip. See:
// http://lists.apple.com/archives/Xcode-users/2006/Feb/msg00050.html
SEPARATE_STRIP = YES


// Minimum OS version is 10.7
MACOSX_DEPLOYMENT_TARGET = 10.8


OTHER_LDFLAGS = -lcinder

LIBRARY_SEARCH_PATHS =  $(GTEST_PATH)/build/Release $(OPENCV_PATH)/lib $(CINDER_PATH)/lib/macosx
FRAMEWORK_SEARCH_PATHS = $(BUILD_DIR)/Frameworks 
HEADER_SEARCH_PATHS = $(CINDER_PATH)/include $(CINDER_PATH)/ciUI $(BOOST_INCLUDE) $(OPENCV_PATH)/include $(SRCROOT)/include $(GTEST_PATH)/include $(SRCROOT)/include/vf $(SRCROOT)/include/cvisible $(TEST_DIR)/include $(RESOURCE_DIR)


GCC_PREPROCESSOR_DEFINITIONS=__ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0 
CA_DEBUG_TRANSACTIONS=1
